.wd-header {
    min-width: $min-page-width;
    padding: 16px 80px; 
    background-color: $standard-blue;
    z-index: $top-index;
    position: relative;
    .product-list {
        float: right;
        display: inline-block;
        margin-top: 25px;
        a {
            color: $standard-white;
            margin-left: 40px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}