.wd-header {
    min-width: $min-page-width;
    padding: 16px 80px; 
    background-color: $standard-black;
    h1 {
        color: $standard-white;
        display: inline-block;
        vertical-align: top;
        margin-top: 20px;
        margin-left: 10px;
    }
    .product-list {
        float: right;
        display: inline-block;
        margin-top: 25px;
        a {
            color: $standard-white;
            margin-left: 40px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}