<div wd-header></div>
<div class="wd-open-account" ng-keyDown="keyDown($event)">
    <div class="step1" wd-show-step data-step="1">
        <div class="form">
            <input ng-class="{error: signIn.uiPhoneError}" type="text" placeholder="请填入您的手机号" autofocus ng-model="signIn.phone">
            <div class="btn" ng-click="nextStep();">即刻开户</div>
        </div>
        <div class="warning">
            <p>1. 注册原子证券一账通代表您接受并同意原子证券金融及其下属网站相关 <a href="">用户使用条款</a> 、 <a href="">隐私协议</a> 、<a href="">客户协议书</a></p>
            <p>2. 注册原子证券一账通代表您确认您是该账户的最终且唯一的受益拥有人，且您个人与原子证券金融及原子证券金融联运或旗下公司并无雇佣关系，且您非联合交易所值交易所参与者或证监会的持牌人或注册人的董事、雇员或认可人士</p>
            <p>3. 注册原子证券一账代表您确认该账户由您本人开设，表示您没有在富途证券国际(香港)有限公司开设，由本人或本人代表他人、团体或公司实益持有、拥有或运作、或本人拥有直接或间接利益的帐户（无论个人、联名、公司、托管）</p>
        </div>
    </div>
    <!-- step1 end -->
    <div class="step2" wd-show-step data-step="2">
        <div class="form">
            <p>如未收到短信验证可尝试<span class="retry">重新发送</span></p>
            <input ng-class="{error: signIn.uiVerifyCodeError}" type="text" placeholder="短信验证码" ng-model="signIn.verify_code">
            <input ng-class="{error: signIn.uiPasswordError}" type="text" placeholder="设置您的登陆密码" ng-model="signIn.password">
            <div class="btn" ng-click="nextStep();">提交开通</div>
        </div>
    </div>
    <!-- step2 end -->
    <div class="step3" wd-show-step data-step="3">
        <div class="content">
            <p>当前账户余额</p><br>
            <i class="icon-100"></i><br>
            <p>您已成功注册原子金融并获得 <span class="strong">100 美元</span> 赠金</p><br>
            <p>开通真实交易账号即可使用赠金进行交易，并可额外获得 <span class="strong">500 美元</span> 赠金</p><br>
            <div class="btn" ng-click="nextStep();">开通真实交易</div>
        </div>
    </div>
    <!-- step3 end -->
</div>
