<div class="open-form content">
    <h1>注册一帐通</h1>
    <div class="wrapper">
        <div class="tip">
            <p>恭喜，您已成功注册岭峰一帐通</p>
            <br>
            <p class="big">完成下列任务即可获赠交易金*</p>
        </div>
        <div class="title-block" ng-click="personalFrom = true;">
            完善个人资料
            <p class="doing">完成即可获赠 $10</p>
        </div>
        <div class="personal-form" ng-if="personalFrom">
            <div class="item">
                <p class="title">真实姓名</p>
                <input type="text">
            </div>
            <div class="item">
                <p class="title">身份证号码</p>
                <input type="text">
            </div>
            <div class="item">
                <p class="title">电子邮箱</p>
                <input type="text">
            </div>
            <div class="item">
                <p class="title">QQ 号码</p>
                <input type="text">
            </div>
            <div class="item">
                <p class="title">住在地址</p>
                <input type="text">
            </div>
            <div class="item">
                <p class="title">邀请人手机号</p>
                <input type="text">
            </div>
            <div class="btn">提交</div>
        </div>
        <div class="title-block" ng-click="realName = true;">
            进行实名认证
            <p class="doing">完成即可获赠 $10</p>
        </div>
        <div class="real-name" ng-if="realName">
            <div class="block">上传身份证正面清晰照片</div>
            <div class="block">上传身份证反面清晰照片</div>
            <div class="btn">提交</div>
        </div>
        <div class="title-block" ng-click="videoAuth = true;">
            进行视频认证
            <p class="doing">完成即可获赠 $10</p>
        </div>
        <div class="video-auth" ng-if="videoAuth">
            <div class="header">
                <div class="title current">微信认证</div>
                <div class="title">QQ 认证</div>
            </div>
            <div class="body">
                <div class="left">
                    <div class="block">
                        <p>使用微信扫描右侧二维码</p>
                        <br>
                        <p>添加您的客服专员<span class="strong">王潇</span></p>
                    </div>
                    <div class="block">
                        <p>如您有操作困难可拨打客服电话</p>
                        <br>
                        <p class="strong">4008-123-123</p>
                    </div>
                </div>
                <div class="right">
                    <i class="icon-qrcode"></i>
                </div>
            </div>
        </div>
        <div class="title-block" ng-click="mailForm = true;">
            回寄申请表单
            <p class="doing">完成即可获赠 $20</p>
        </div>
        <div class="mail-form" ng-if="mailForm">
            <p>请下载并打印您的申请表格：<a class="strong" href="">20140813-123123123321.pdf</a></p>
            <br>
            <p>在表格最后一页签上您的名字后，请发 <span class="strong">顺丰</span> 到付到下面的地址：</p>
            <br>
            <p>广东省深圳市xxxxxxxxxxx</p><p>赵婷婷收</p><p>电话 0755-12132123</p>
            <br>
            <div class="courier">
                <p>快递单号</p>
                <input type="text">
                <div class="btn">提交单号</div>
            </div>
        </div>
    </div>
</div>