<div class="sign-in content">
    <h1>注册一帐通</h1>
    <div class="form">
        <div class="item">
            <p class="error">{{ui.error}}</p>
        </div>
        <div class="item">
            <p class="title">手机号</p>
            <input type="text" ng-disabled="ui.checkingPhone" ng-model="signIn.phone">
            <div class="btn" ng-if="!ui.checkingPhone" ng-click="ui.checkingPhone = true;verifyPhone();">验证手机</div>
            <div class="btn" ng-if="ui.checkingPhone" ng-click="ui.checkingPhone = false;">重新发送</div>
            <div class="btn" ng-if="ui.checkingPhone">来电验证</div>
        </div>
        <div class="item">
            <p class="title">短信验证码</p>
            <input type="text" ng-disabled="!ui.checkingPhone" ng-model="signIn.verify_code">
        </div>
        <div class="item">
            <p class="title">密码</p>
            <input type="text" ng-disabled="!ui.checkingPhone" ng-model="signIn.password">
        </div>
        <div class="submit-btn btn" ng-click="register()">开通账号</div>
    </div>
    <div class="form">
        <div class="item">
            <p class="error">{{ui.error}}</p>
        </div>
        <div class="item">
            <p class="title">用户名</p>
            <input type="text" ng-model="login.phone">
        </div>
        <div class="item">
            <p class="title">密码</p>
            <input type="password" ng-model="login.password">
        </div>
        <div class="submit-btn btn" ng-click="loginFun()">登录</div>        
    </div>
    <div class="warning">
        <p>1. 注册岭峰一账通代表您接受并同意岭峰金融及其下属网站相关 <a href="">用户使用条款</a> 、 <a href="">隐私协议</a> 、<a href="">客户协议书</a></p>
        <p>2. 注册岭峰一账通代表您确认您是该账户的最终且唯一的受益拥有人，且您个人与岭峰金融及岭峰金融联运或旗下公司并无雇佣关系，且您非联合交易所值交易所参与者或证监会的持牌人或注册人的董事、雇员或认可人士</p>
        <p>3. 注册岭峰一账代表您确认该账户由您本人开设，表示您没有在富途证券国际(香港)有限公司开设，由本人或本人代表他人、团体或公司实益持有、拥有或运作、或本人拥有直接或间接利益的帐户（无论个人、联名、公司、托管）</p>
    </div>
</div>