.wd-open-account {
    position: relative;
    p {
        color: $standard-blue;
    }
    input[type=text] {
        width: 70%;
        height: 40px;
        font-size: 22px;
        padding: 3px 20px;
    }
    .btn {
        height: 26px;
        line-height: 26px;
        vertical-align: top;
        text-align: center;
        font-size: 18px;
    }
    .login-form {
        text-align: center;
        padding-top: 100px;
        input {
            margin-bottom: 10px;
        }
        .btn {
            margin-top: 10px;
        }
    }
    .step1 {
        z-index: 9;
        position: absolute;
        top: 0px;
        width: 100%;
        min-height: 400px;
        background-color: #fff;
        .form {
            text-align: center;
            padding-top: 40px;
            .btn {
                margin-top: 30px;
            }
        }
        .warning {
            width: 80%;
            font-size: 10px;
            line-height: 17px;
            margin: 60px auto 30px auto;
            p, a {
                color: $standard-gray;
                font-size: 12px;
            }
            a {
                text-decoration: underline;
            }
        }
    }
    /* step1 end */
    .step2 {
        z-index: 8;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 400px;
        background-color: #fff;
        .form {
            margin: 70px auto 0px auto;
            text-align: center;
            input, p {
                display: block;
                margin: 0px auto;
            }
            input {
                margin-top: 5px;
            }
            p {
                font-size: 16px;
                margin-bottom: 20px;
            }
            .btn {
                margin-top: 30px;
            }
            .retry {
                color: $standard-orange;
                margin-left: 5px;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    /* step2 end */
    .step3 {
        z-index: 7;
        position: absolute;
        top: 0px;
        width: 100%;
        background-color: #fff;
        .content {
            position: relative;
            padding: 70px 30px 0px 30px;
            text-align: center;
            p {
                font-size: 16px;
                line-height: 25px;
            }
            .btn {
                margin-top: 70px;
            }
            .icon-100 {
                margin: 15px;
            }
            .skip {
                position: absolute;
                right: 30px;
                bottom: 30px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    /* step3 end */
    .step4 {
        z-index: 6;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 400px;
        text-align: center;
        padding: 80px 0px;
        background-color: #fff;
        .title {
            font-size: 20px;
            margin-bottom: 120px;
        }
        .steps {
            width: 700px;
            margin: 0px auto;
            .block {
                margin: 0px 15px;
                display: inline-block;
                .btn {
                    height: 40px;
                    width: 160px;
                    line-height: 40px;
                    font-size: 18px;
                    margin-top: 30px;
                    &.disable {
                        background-color: #ecedec;
                        color: #000;
                        cursor: default;
                    }
                }
            }
        }
        .skip {
            position: absolute;
            right: 30px;
            bottom: 30px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    /* step4 end */
    .step5 {
        z-index: 5;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 650px;
        background-color: #fff;
        .back {
            position: absolute;
            top: 50px;
            left: 100px;
            cursor: pointer;
            line-height: 36px;
            p {
                vertical-align: top;
            }
        }
        .form {
            padding: 100px 0px;
            text-align: center;
            input {
                width: 350px;
                margin-bottom: 8px;
            }
            .btn {
                width: 140px;
                height: 40px;
                line-height: 40px;
                font-size: 18px;
                margin-top: 30px;                
            }
        }
    }
    /* step5 end */
    .step6 {
        z-index: 4;
        position: absolute;
        top: 0px;
        width: 100%;
        text-align: center;
        height: 460px;
        padding-top: 150px;
        background-color: #fff;
        text-align: center;
        .skip {
            position: absolute;
            right: 30px;
            bottom: 30px;
            &:hover {
                text-decoration: underline;
            }            
        }
        .icon-200 {
            margin: 15px;
        }
        p {
            font-size: 16px;
            line-height: 25px;
        }
        .btn {
            width: 140px;
            height: 40px;
            line-height: 40px;
            font-size: 19px;
            margin-top: 50px;
        }
    }
    /* step6 end */
    .step7 {
        z-index: 3;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 650px;
        text-align: center;
        background-color: #fff;
        padding: 90px 0px;
        .back {
            position: absolute;
            top: 50px;
            left: 100px;
            cursor: pointer;
            line-height: 36px;
            p {
                vertical-align: top;
            }
        }
        .title {
            font-size: 20px;
            margin-bottom: 50px;
        }
        .left, .right {
            position: relative;
            display: inline-block;
            input[type=file] {
                cursor: pointer;
                width: 233px;
                position: absolute;
                left: 0px;
                top: 0px;
                padding: 210px 45px 10px 40px;
            }
        }
        .btn {
            height: 40px;
            line-height: 40px;
            width: 140px;
            font-size: 18px;
            margin-top: 60px;
        }
    }
    /* step7 end*/
    .step8 {
        z-index: 2;
        position: absolute;
        top: 0px;
        width: 100%;
        text-align: center;
        height: 460px;
        padding-top: 150px;
        text-align: center;
        background-color: #fff;
        .skip {
            position: absolute;
            right: 30px;
            bottom: 30px;
            &:hover {
                text-decoration: underline;
            }            
        }
        .icon-300 {
            margin: 15px;
        }
        p {
            font-size: 16px;
            line-height: 25px;
        }
        .btn {
            width: 140px;
            height: 40px;
            line-height: 40px;
            font-size: 19px;
            margin-top: 50px;
        }
    }
    /* step8 end*/
    .step9 {
        z-index: 1;
        position: absolute;
        top: 0px;
        width: 100%;
        text-align: center;
        padding: 90px 0px;
        background-color: #fff;
        .back {
            position: absolute;
            top: 50px;
            left: 100px;
            cursor: pointer;
            line-height: 36px;
            p {
                vertical-align: top;
            }
        }
        .content {
            p {
                font-size: 19px;
                line-height: 30px;
                &.small {
                    font-size: 10px;
                }
            }
            .btn {
                width: 140px;
                height: 40px;
                line-height: 40px;
                font-size: 19px;
                margin-top: 50px;
            }  
            img {
                width: 140px;
                height: 180px;
                margin: 15px;
            }          
        }
    }
}
